.tabs {
  width: 100%;
  display: flex;
}
.tab {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
}
.active {
  background-color: #ccc;
}
.inactive {
  background-color: #fff;
}
.learningCard {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
}
.learningCard:not(:last-child) {
  margin-bottom: 10px;
}
