.learningDetail {
  padding: 30px 50px;
  position: relative;
}
.learningDetailTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.learningDetailContent {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.openWhiteboardButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}
